.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-row {
  margin-bottom: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-row {
  display: flex;
  justify-content: center;
}

.details-column {
  margin: 0 20px;
}

.movie-poster {
  width: 200px;
  height: auto;
}

.description {
  margin-bottom: 20px;
}

.back-button {
  margin-top: 20px;
}
